@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: #f9f9f9;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
}

body {
    background-color: #171717;
    overflow-x: hidden;
}

.size {
    max-width: 960px;
    padding: 12px;
}