#header, #menu {
    display: flex;
}

#header {
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    padding-top: 25px;
}

#menu {
    list-style: none;
}

#menu a {
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none;
    transition: .3s;
}

#menu a:hover{
    color: #828282;
}

#logo {
    font-size: 1.2em;
    font-weight: 700;
}