#header {
    display: flex;
}

#nav {
    display: flex;
    justify-content: right;
}

#header {
    width: 100%;
    max-width: 960px;
    background-color: #171717;
    justify-content: space-between;
    margin: auto;
    padding-top: 25px;
}

#menu {
    list-style: none;
}

#menu a {
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none;
    transition: .3s;
}

#menu a:hover{
    color: #828282;
}

#logo {
    font-size: 1.2em;
    font-weight: 700;
    z-index: 10000;
}