@media screen and (max-width: 768px) {
  #logo {
    font-size: 18pt;
  }
  /* section presentation responsive */
  #presentation {
    justify-content: space-around;
  }

  #box-image img {
    margin: auto;
  }

  /* section projects responsive */

  .box-projects {
    grid-template-columns: 1fr 1fr;
  }

  /* section services responsive */

  #services .container-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #services .container-services .service-item {
    width: 100%;
    margin: 0;
  }

  /* section my-skills responsive */

  #my-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
}

@media screen and (max-width: 700px) {
  /* box-contacts config */
  #box-contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-row-contact {
    width: 100%;
  }

  .second-row-contact {
    width: 60%;
  }

  .box-icon p {
    font-size: 16px;
  }

  .box-icon .box-image {
    height: 50px;
  }

  .box-icon .box-image img {
    width: 34px;
  }

  /* presentation config */
  #presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #presentation #box-text-presentation {
    width: 100%;
  }

  #presentation #box-image {
    margin-top: 30px;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  /* section my-skylls config */
  .box-skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 540px) {
    /* box projects config */
    .box-projects{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .box-project {
        width: 80%;
    }
    /* box my-skills responsive */
    

    /* box-services responsive */
    #services .container-services {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #services .container-services .service-item {
        width: 80%;
    }
}
